@charset "UTF-8";

/* em HTML id = # em CSS (só pode um elemento)*/
/* em HTML é class = em CSS é .  (pode vários elementos)*/


body{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: greenyellow;
}

h1#principal{
    text-align: center;
    background-color: red;
}

h2{
    color: yellow;
}

.basico{
    color: blue;
}

.intermediario{
    color: rgb(255, 213, 0);
}

.avançado{
    color: red;
}

.destaque{
    background-color: bisque;
}